@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    color: #333;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

html {
    font-size: 20px;
    scroll-behavior: smooth;
}


/* header */
header {
    position: fixed;
    width: 100%;
    height: 90px;
    background-color: #fff;
    z-index: 100;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

header > nav {
    width: 1500px;
    height: 100%;
    margin: 0 auto;
    display: flex; 
    justify-content: space-between;
    align-items: center;
}

header > nav > a {
    height: 50%;
}

header > nav > a > img {
    height: 100%;
}

header > nav > li {
    height: 100%;
    display: flex;
    justify-content: space-between;
}

header > nav > li > a {
    display: block;
    width: 130px;
    height: 100%;
    text-align: center;
    align-content: center;
    position: relative;
    font-weight: bold;
}

header > nav > li > a > div {
    position: absolute;
    width: 80%;
    height: 5px;
    background-color: #fff;
    top: 0;
    left: 10%;
    border-radius: 0 0px 4px 4px;
    transition: 0.2s;
}

header > nav > li > a:nth-child(1) > div {
    background-color: #3e55fe;
}

header > nav > li > a:hover > div {
    background-color: #3e55fe;
}


/* main */
main {
    width: 100%;
    padding-top: 90px;
}

/* intro */
.intro {
    width: 100%;
    height: 600px;
    background-color: #405cf9;
    padding: 100px 250px 100px 225px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.intro > ul {
    display: flex;
    justify-content: space-between;
    position: relative;
}

.title {
    padding-top: 30px;
}

.title > h3 {
    color: #caefff;
}

.title > h1 {
    color: #fff;
    margin: 5px 0;
}

.title > img {
    height: 50px;
    margin: 5px 0 10px;
}

.intro .title > a {
    display: block;
    width: 140px;
    height: 50px;
    background-color: #f2fdff;
    border-radius: 100px;
    text-align: center;
    align-content: center;
    font-weight: bold;
    margin-top: 10px;
}

.intro > ul > img {
    width: 400px;
    position: absolute;
    right: 0;
}

.intro > article {
    width: 425px;
    display: flex;
    justify-content: space-between;
}

.intro > article > div {
    width: 100px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    border-radius: 20px;
}

.intro > article img {
    width: 50px;
}

.intro > article span {
    padding-top: 10px;
    border-top: 2px solid #111;
    color: #111;
}

.move {
    width: 100%;
    height: 210px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.move > div {
    height: 110px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    font-weight: bold;
    font-size: 1rem;
}

.move img {
    width: 100px;
}


/* test section */
#test {
    display: flex;
    justify-content: center;
    position: relative;
}

section {
    width: 1100px;
    height: 300px;
    border-bottom: 1px solid #c5c5c5;
    margin: 0 auto;
}

section > div {
    width: 75%;
    margin: 0 auto;
}

section > div:first-child {
    height: 60%;
    text-align: center;
    align-content: center;
}

input[type='radio'] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none; 
    width: 85px;
    height: 85px;
    border-radius: 50%;
    border: 2px solid silver;
    outline: none; 
    cursor: pointer;
    transition: 0.15s;
}

input:nth-child(2), input:nth-child(6){
    width: 70px;
    height: 70px;
}

input:nth-child(3), input:nth-child(5) {
    width: 55px;
    height: 55px;
}

input:nth-child(4) {
    width: 37.5px;
    height: 37.5px;
}

input:nth-child(1), input:nth-child(2), input:nth-child(3) {
    border: 3px solid rgb(64, 95, 252);
}

input:nth-child(4) {
    border: 3px solid #bdbdbd;
}

input:nth-child(5), input:nth-child(6), input:nth-child(7) {
    border: 3px solid #f4cd3f;
}

input:nth-child(1):hover, input:nth-child(1):checked,
input:nth-child(2):hover, input:nth-child(2):checked,
input:nth-child(3):hover, input:nth-child(3):checked {
    background-color: rgb(64, 95, 252);
}

input:nth-child(4):hover, input:nth-child(4):checked {
    background-color: #bdbdbd;
}

input:nth-child(5):hover, input:nth-child(5):checked,
input:nth-child(6):hover, input:nth-child(6):checked,
input:nth-child(7):hover, input:nth-child(7):checked {
    background-color: #f4cd3f;
}

section h1 {
    font-size: 1.5rem;
}

section > div:last-child {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.select {
    width: 625px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

section > div > span {
    position: absolute;
    font-weight: bold;
    font-size: 1.2rem;
    color: #2d49ec;
}

section > div > span:last-child {
    right: -50px;
    color: #ebbc13;
}

.page {
    display: none;
}
.page1 {
    display: block;
}

.page > section:nth-child(6) {
    border-bottom: 0px;
}

.page > div {
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    padding-top: 45px;
}

.page > div > a {
    display: block;
    width: 175px;
    height: 65px;
    background-color: #3e55fe;
    border-radius: 100px;
    text-align: center;
    align-content: center;
    color: #fff;
    transition: 0.2s;
}
.page > div > a:hover {
    background-color: #3e55fe;
}

#test > div:last-child {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 10;
    opacity: 0.5;
    background-color: #fff;
}

footer {
    width: 100%;
    height: 320px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f4f4f4;
}

footer > div {
    height: 210px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

footer > div > a > img {
    height: 45px;
}

footer nav {
    width: 350px;
    display: flex;
    justify-content: space-between;
}

footer nav a {
    font-size: 0.95rem;
    color: #555;
}

footer nav a:hover {
    text-decoration: underline;
}

footer > div > div {
    width: 200px;
    height: 50px;
    display: flex;
    justify-content: space-between;
}

footer > div > div > a {
    transition: 0.2s;
    border-radius: 100%;
}

footer > div > div > a:hover {
    background-color: #929292;
    border-radius: 100%;
}

footer > div > div img {
    height: 100%;
}

footer p {
    font-size: 0.95rem;
    color: #777;
}

.block {
    position: relative;
    z-index: 50;
}